**/Manifest.toml
**.jld2
**.csv
xp*
**/ipopt*
*.pdf
*/*.run
*/*.tmp
*.DS_Store
snopt-summary.out
snopt-print.out
**/apce*
**/*PER*
**/snopt*
**/*.zipx
**/*.xlsx
**/xp_*

**/pr.out
background/propeller/UIUC_data